*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/migrations.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/copilotDiffState.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.aab
/analysis_260530/.descriptions.xml
/analysis_260530/.xml
/AGENTS.md
/analysis_260530/AndroidLintAcceptsUserCertificates.xml
/analysis_260530/AndroidLintAndroidGradlePluginVersion.xml
/analysis_260530/AndroidLintConfigurationScreenWidthHeight.xml
/analysis_260530/AndroidLintFrequentlyChangingValue.xml
/analysis_260530/AndroidLintGradleDependency.xml
/analysis_260530/AndroidLintHardcodedText.xml
/analysis_260530/AndroidLintIconColors.xml
/analysis_260530/AndroidLintIconDuplicates.xml
/analysis_260530/AndroidLintIconLocation.xml
/analysis_260530/AndroidLintIconXmlAndPng.xml
/analysis_260530/AndroidLintInflateParams.xml
/analysis_260530/AndroidLintInlinedApi.xml
/analysis_260530/AndroidLintInsecureBaseConfiguration.xml
/analysis_260530/AndroidLintModifierParameter.xml
/analysis_260530/AndroidLintMonochromeLauncherIcon.xml
/analysis_260530/AndroidLintNewerVersionAvailable.xml
/analysis_260530/AndroidLintObsoleteSdkInt.xml
/analysis_260530/AndroidLintOldTargetApi.xml
/analysis_260530/AndroidLintOverdraw.xml
/analysis_260530/AndroidLintPropertyEscape.xml
/analysis_260530/AndroidLintRedundantNamespace.xml
/analysis_260530/AndroidLintRtlSymmetry.xml
/analysis_260530/AndroidLintSetTextI18n.xml
/analysis_260530/AndroidLintUnusedBoxWithConstraintsScope.xml
/analysis_260530/AndroidLintUnusedResources.xml
/analysis_260530/AndroidLintUseKtx.xml
/analysis_260530/AndroidLintVectorPath.xml
/analysis_260530/AndroidLintVectorRaster.xml
/analysis_260530/AssignedValueIsNeverRead.xml
/analysis_260530/AutoCloseableResource.xml
/analysis_260530/BooleanMethodIsAlwaysInverted.xml
/analysis_260530/CanBeFinal.xml
/analysis_260530/CheckTagEmptyBody.xml
/analysis_260530/ClassCanBeRecord.xml
/analysis_260530/ClassEscapesItsScope.xml
/analysis_260530/CodeBlock2Expr.xml
/analysis_260530/CommentedOutCode.xml
/analysis_260530/ConstantValue.xml
/analysis_260530/ConvertTwoComparisonsToRangeCheck.xml
/analysis_260530/DanglingJavadoc.xml
/analysis_260530/DataFlowIssue.xml
/analysis_260530/EmptyMethod.xml
/analysis_260530/EnhancedSwitchMigration.xml
/analysis_260530/EnumValuesSoftDeprecate.xml
/analysis_260530/ExtractMethodRecommender.xml
/analysis_260530/FieldCanBeLocal.xml
/analysis_260530/GrazieInspection.xml
/analysis_260530/GrazieStyle.xml
/analysis_260530/HasPlatformType.xml
/analysis_260530/HtmlRequiredLangAttribute.xml
/analysis_260530/HtmlRequiredTitleElement.xml
/analysis_260530/HtmlUnknownTarget.xml
/analysis_260530/IfStatementWithIdenticalBranches.xml
/analysis_260530/JavadocBlankLines.xml
/analysis_260530/KotlinConstantConditions.xml
/analysis_260530/KotlinUnusedImport.xml
/app/lint.xml
/analysis_260530/LocalVariableName.xml
/analysis_260530/MathRoundingWithIntArgument.xml
/analysis_260530/MismatchedCollectionQueryUpdate.xml
/analysis_260530/MisorderedAssertEqualsArguments.xml
/analysis_260530/NestedLambdaShadowedImplicitParameter.xml
/analysis_260530/NullableProblems.xml
/analysis_260530/PrivatePropertyName.xml
/analysis_260530/RedundantSuspendModifier.xml
/analysis_260530/RedundantThrows.xml
/analysis_260530/RemoveCurlyBracesFromTemplate.xml
/analysis_260530/RemoveExplicitTypeArguments.xml
/analysis_260530/ReplaceIsEmptyWithIfEmpty.xml
/analysis_260530/ReplaceMapIndexedWithListGenerator.xml
/analysis_260530/ReplaceRangeToWithRangeUntil.xml
/analysis_260530/ReplaceWithOperatorAssignment.xml
/analysis_260530/SameParameterValue.xml
/analysis_260530/SizeReplaceableByIsEmpty.xml
/analysis_260530/SpellCheckingInspection.xml
/analysis_260530/TextBlockMigration.xml
/plans/
/memory/
/analysis_260530/TryFinallyCanBeTryWithResources.xml
/analysis_260530/UnnecessaryLocalVariable.xml
/analysis_260530/UnnecessaryVariable.xml
/analysis_260530/unused.xml
/analysis_260530/UNUSED_IMPORT.xml
/analysis_260530/UnusedAssignment.xml
/analysis_260530/UnusedSymbol.xml
/analysis_260530/XmlUnusedNamespaceDeclaration.xml
